body{
    background-color: blue;
    margin: 0;
    padding: 0;
    font-family: 'Poltawski Nowy', serif;
}
.navbar{
    background-color: white;
}
.navbar-menu{
    margin: 0;
    margin-left: 100px;
    padding: 10px;
    padding-top: 50px;
    text-align: center;
}
.navbar-logo {
    margin-top: 20px;
    margin-left: 5px;
    padding: 10px;
    margin-bottom: -85px;
}
.navbar-item {
    display: inline-block;
    padding: 0 10px;
    color: black;
}
.navbar-item a{
    text-transform: lowercase ;
    color: grey;
}
.no{
   margin-left: 550px;
    margin-top: -12px;
}
